# Logs
logs/
*.log

# Python cache
__pycache__/
*.pyc

# Environnements virtuels
.venv/
venv/

# plots directory
.plots_algo_path/
# Logs
logs/
*.log

# Python cache
__pycache__/
*.pyc

# Environnements virtuels
.venv/
venv/

# plots directory
.plots_algo_path/
plots_algo_path/

# calib_flash
.calib_flash/
calib_flash/

# Fichiers générés dynamiquement
*.json
!VisionNumerique/HSV/hsv_ranges.json
!VisionNumerique/lab/lab_colors.json
!.vscode/settings.json

# Python cache
__pycache__/
*.pyc
